@import "bootstrap";

h1 {
  font-family: 'Righteous', cursive;
}
.jumbotron {
  color: white;
  /*font-size: 2em;*/
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1473187983305-f615310e7daa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ccb48efc3720051b4ccc29c39a43f0c9&auto=format&fit=crop&w=800&q=60);
  background-size: auto;
  background-size: 450px;
}

* {
  font-family: 'Patrick Hand', cursive;
  list-style: none;
  text-align: inherit;
}

#main-pg {
  margin-left: 25px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#intro {
  text-align: justify;
}
