<h2>Mario's Goods</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

<p><%= link_to "Home", home_path %></p>
<p><%= link_to "Add", new_product_path %></p>
